@mixin container-lg{
    width: 95%;
    margin: 0 auto;
}
@mixin total-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin full-ratio{
    width: 100%;
    height: 100%;
}